.tweets{
    color: white;
}

.tweetImg{
    width: 45px;
    border-radius: 50%;
}
.retweet{
    border-top: 1px solid var(--border-gray);
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 26px;
}
.retweetDivImg{
    width: 42px;
    border-radius: 50%;
    margin-right: 9px;
}
.userDetailsMiddlePane{
    display: flex;
    flex-direction: row;
   
   
}
.userNameMiddlePane{
    font-size: 12px;
    font-weight: 700;
}
.userIdMiddlePane{
    font-size: 12px;
    font-weight: 500;
    color: #6E767D;
    margin-left: 2px;
   
}
.userDetailDivMiddlePane{
    padding-top: 22px;
    padding-left: 12px;
    display: flex;
}
.tweetTextArea{
    font-size: 14px;
    font-weight: 400;
}
.metrics{
    padding-left: 40px;
    display: flex;
    margin-top: 20px;
}

