.feed{
    display: flex;
    overflow: hidden;
}
.buttonText{
    color:white;
    width:299px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 16px;
   
}

